.form {
    display: flex;
    position: relative;
    font-size: 22px;
    border: 1px solid transparent;
    margin: 0 10px;
    user-select: none;
}

.option-buttons {
    position: absolute;
    top: -6px;
    left: 0;
}

.team {
    width: calc(40% - 30px);
}

.team1 {
    text-align: end;
}

.team2 {
    text-align: start;
}

.team1-score {
    text-align: end;
}

.score {
    width: 30px;
    margin: 0 5px;
    font-size: 22px;
    &:disabled {
        border: none;
        background-color: transparent;
    }
}

.match-stats{
    display: flex;
    position: relative;
    .ot {
        position: absolute;
        top: 0;
        left: -40px;
    }
}

.green {
    color: limegreen;
}

.red {
    color: lightcoral;
}

.focus {
    background-color: rgb(241, 238, 238);
    border: 1px solid lightgrey;
    border-radius: 4px;
}