<form class="form" [(isFocused)]="isFocused" [isEditMode]="isEditMode" (dblclick)="getEditMode()" appMatchFocused>

  <div class="match-stats">{{ match.tourneyStatus }}
    <div class="ot">
      <div *ngIf="overTime">{{ showOTinMatch() }}</div>
    </div>
  </div>

  <div class="team team1">
    <div class="team-id" [attr.data-team1-id]="match.team1ID">id</div>
    <span>{{ match.team1 }}</span>  
  </div>
  <input class="score team1-score" type="text" [value]="match.team1Score" name="team1" 
         [isInvalid]="isScore1invalid" [disabled]="isTeam1disabled" #team1 appInputValidate>
  <span>{{ match.isComplete ? ":" : "-" }}</span>
  <input class="score" type="text" [value]="match.team2Score" name="team2" 
         [isInvalid]="isScore2invalid" [disabled]="isTeam1disabled" #team2 appInputValidate>
  <div class="team team2">
    <span>{{ match.team2 }}</span>  
    <div class="team-id" [attr.data-team2-id]="match.team2ID">id</div>
  </div>

  <div class="time">{{ match.time | date: 'MMMM d' }}
    <div class="match-id" [attr.data-match-id]="match._id">ID</div>
  </div>

  <div class="option-buttons">
    <button *ngIf="!isEditMode && isFocused" 
            mat-icon-button color="primary" 
            title="Edit score"
            (click)="getEditMode()">
           <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="!isEditMode && isFocused" 
            mat-icon-button color="accent"
            title="Clear score" 
            (click)="getClearMatch()">
            <mat-icon>refresh</mat-icon>
    </button>
    <button *ngIf="!isEditMode && isFocused" 
            mat-icon-button color="warn"
            title="Random score"
            (click)="getRandomMatch()">
            <mat-icon>contact_support</mat-icon>
    </button>
    <button *ngIf="!isEditMode && isFocused"
            mat-icon-button (click)="picker.open()">
            <mat-icon>event</mat-icon>
    </button>
    <button *ngIf="isEditMode && isEditMatch" 
            mat-icon-button class="green" 
            (click)="applyChangeMatch()">
            <mat-icon>done_outline</mat-icon>
     </button>
     <button *ngIf="isEditMode && isEditMatch" 
             mat-icon-button class="red" 
             (click)="cancelChangeMatch()">
             <mat-icon>cancel</mat-icon>
    </button>
    <mat-spinner *ngIf="isFocused && isLoadingMode | async" class="spinner" diameter="20"></mat-spinner>
    <!-- form for data picker -->
    <mat-form-field class="non-displayed">
        <input matInput [matDatepicker]="picker" #input (dateChange)="changeTime(input.value)">
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
</form>

