<form class="form" [(isFocused)]="isFocused" [isEditMode]="isEditMode" (dblclick)="getEditMode()" appMatchFocused>
    <div class="team team1">{{ match.team1 }}</div>
    <input class="score team1-score" type="text" [value]="match.team1Score" name="team1" 
           [isInvalid]="isScore1invalid" [disabled]="isTeam1disabled" #team1 appInputValidate>
    <span>:</span>
    <input class="score" type="text" [value]="match.team2Score" name="team2" 
           [isInvalid]="isScore2invalid" [disabled]="isTeam1disabled" #team2 appInputValidate>
    <div class="team team2">{{ match.team2 }}</div>
    <div class="match-stats">{{ match.tourneyStatus }}
        <div class="ot" *ngIf="overTime">{{ showOTinMatch() }}</div>
    </div>
    <div class="option-buttons">
        <button *ngIf="!isEditMode && isFocused" 
                mat-icon-button color="primary" 
                (click)="getEditMode()">
                <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="!isEditMode && isFocused" 
                mat-icon-button color="accent" 
                (click)="getClearMatch()">
                <mat-icon>refresh</mat-icon>
        </button>
        <button *ngIf="!isEditMode && isFocused" 
                mat-icon-button color="warn" 
                (click)="getDeleteMatch()">
                <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="isEditMode && isEditMatch" 
                mat-icon-button class="green" 
                (click)="applyChangeMatch()">
                <mat-icon>done_outline</mat-icon>
        </button>
        <button *ngIf="isEditMode && isEditMatch" 
                mat-icon-button class="red" 
                (click)="cancelChangeMatch()">
                <mat-icon>cancel</mat-icon>
        </button>
    </div>
</form>

