<mat-table [dataSource]="teams" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element;">{{ teams.indexOf(element) + 1 }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="team">
    <mat-header-cell *matHeaderCellDef> team </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="half">
    <mat-header-cell *matHeaderCellDef> half </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.half }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="games">
    <mat-header-cell *matHeaderCellDef> games </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ showGames(element.stats) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="win-lost">
    <mat-header-cell *matHeaderCellDef> win-lost </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ showWinLostStat(element.stats) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="rounds">
    <mat-header-cell *matHeaderCellDef> rounds </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ showRounds(element.stats) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="plus-minus">
    <mat-header-cell *matHeaderCellDef> +/- </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ showPlusMinus(element.stats) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="last-4">
    <mat-header-cell *matHeaderCellDef> last 4 </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ showWinLostString(element.stats.wlStr) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="points">
    <mat-header-cell *matHeaderCellDef> points </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ showPoints(element.stats) }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
