:host {
    margin: 0 auto;
}

.match-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 150px;
}

img {
    width: 30px;
}

.date {
    text-align: center;
    font-size: 11px;
}

table {
    width: 80%;
    font-size: 15px;
    .name {
        text-align: start;
    }
    .score {
        text-align: end;
    }
}
