button  {
  position: absolute;
  width: 50px;
  height: 82%;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #e8e8e8;
  cursor: pointer;
  &:active {
    background-color: #eee;
  }
}

mat-icon {
  color: white;
}

.leftRs {
    top: 0;
    bottom: 0;
    left: 0;
}

.rightRs {
    top: 0;
    bottom: 0;
    right: 0;
}


.item {
  padding: 10px 0;
  margin: 0 0 20px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

ngu-carousel {
  margin: 0 auto;
}
