:host {
    margin: 5px 0;
}

mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #eeeeee;
}

.info {
    flex: 2;
    font-size: 12px;
    .bo7 {
        color: rgba(0, 0, 0, 0.5);
    }
    .half {
        font-weight: 700;;
    }
}

.team {
    flex: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    flex: 10;
    padding: 0 20px;
}

.logo {
    flex: 1;
    width: 20px;
}

.score {
    flex: 1;
    padding: 0 5px;
}

.left {
    text-align: end;
}

