<div class="title">{{ getSeriesTitle() }}</div>
<div class="series-wrapper">
    <div class="team-wrapper" [color]="getColor(1, 'secondary')" appTeamAreaBorderBottom>
        <div class="color-aria" [teamColor]="getColor(1, 'primary')" appTeamAreaColored>
            <div class="waterline-text">{{ getShortName(1) }}</div>
            <img [src]="getImageParams(1, 'src')" 
                 [alt]="getImageParams(1, 'alt')"
                 class="logo">
        </div>
        <div class="team-content"></div>
    </div>
    <div class="team-wrapper" [color]="getColor(2, 'secondary')" appTeamAreaBorderBottom>
        <div class="team-content"></div>
        <div class="color-aria" [teamColor]="getColor(2, 'primary')" [isMirror]="true" appTeamAreaColored>
            <div class="waterline-text">{{ getShortName(2) }}</div>
            <img [src]="getImageParams(2, 'src')" 
                 [alt]="getImageParams(2, 'alt')"
                 class="logo">
        </div>
    </div>
</div>
<!-- 
<div class="series">
    <div>{{ series.team1 }}</div>
    <div>{{ series.team1Score }}</div>
    <div>:</div>
    <div>{{ series.team2Score }} </div>
    <div>{{ series.team2 }}</div>
</div> -->

<!-- <app-series-match *ngFor="let match of matches | async" [match]="match"></app-series-match> -->



