.lightcolor {
    color: rgba(0, 0, 0, 0.5);
}

.series-head-wrapper {
    position: relative;
    display: flex;
    height: 105px;
}

.team-wrapper {
    display: flex;
    height: 100%;
    flex: 1;
}

.color-aria {
    position: relative;
    flex: 1;
    height: 0;
}

.waterline-text {
    position: absolute;
    width: 100%;
    top: -25px;
    font-size: 130px;
    color: rgba(255, 255, 255, 0.1);
    font-family: 'Endzone Sans Bold', sans-serif;
}

.team-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    &::ng-deep {
        text-align: center;
    }
    .stat {
      cursor: pointer;
    }
}

.logo {
    position: absolute;
    top: 20px;
    right: -55px;
    width: 80px;
}

.score-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7px;
  .score {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 44px;
  }
}

.series-content-wrapper {
  display: flex;
  padding: 30px;
}

.matches {
  flex: 2;
}

.format {
  flex: 1;
}

.title {
  margin-top: 60px;
  text-align: center;
}

.format {
  table {
    margin: 40px auto;
    width: 70%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    thead {
      color: white;
      background-color: black;
      text-align: center;
      border: 1px solid black;
    }
    tr {
      border-bottom: 1px solid #ccc;

    }
    td {
      padding: 15px;
    }
  }
}


