<h2 class="title">NYCS Administation Panel</h2>
<button mat-stroked-button color="primary" class="edit-button" (click)="openEditSchedule()">Edit Schedule</button>

<mat-tab-group *ngIf="!(isScheduleLoading | async), else elseBlock" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="icon"><mat-icon>date_range</mat-icon></div>
      <span>Regular</span>
    </ng-template>
    <div class="matches-wrapper">
      <app-admin-match *ngFor="let match of matches | async" [match]="match"></app-admin-match>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="arrow">arrow_right_alt</mat-icon>
      <div class="icon"><mat-icon>date_range</mat-icon></div>
      <span>Playoff</span>
    </ng-template>
    Content2
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="arrow">arrow_right_alt</mat-icon>
      <div class="icon"><mat-icon>date_range</mat-icon></div>
      <span>NYCS Final</span>
    </ng-template>
    Content 3
  </mat-tab>
</mat-tab-group>

<ng-template #elseBlock>
    <div class="else-block">
        <mat-spinner></mat-spinner>
        <div>Loading your Schedule...</div>
    </div>
</ng-template>

