<h2 class="title">Standing Order:</h2>
<p class="text">According to the results of the regular championship, three te
    ams enter the playoff: one directly in half final, two in half semi-final
    from each half.<br>With an equal number of points, the team has the
    advantage (in order of priority):</p>
<ul class="list">
    <li><span>1</span>- &nbsp;with the best winning percentage in regular chenmonionate</li>
    <li><span>2</span>- &nbsp;with the best winning percentage in it's half</li>
    <li><span>3</span>- &nbsp;with the most wins in regular time</li>
    <li><span>4</span>- &nbsp;with the most rounds wins</li>
</ul>
